
#root {
    text-align: center;
}

#skills {
 
  justify-content: center;
  
}



#about-info{

text-align: left; /* Add this line to align text to the left */
}

#about-title{
  text-align: left;
}


input {
  color: black;
}