
#root {
  margin: 0 auto;
  text-align: center;
}

#skills {
 
  justify-content: center;
  
}

#about {
  margin-top: 10%;
}

#about-info{
display: flex;
justify-content: left;
padding: 10px;
gap: 20px; /* Add this line to create space between the divs */
text-align: left; /* Add this line to align text to the left */
}

#about-title{
  text-align: left;
}

section{
  padding: 5%;
}